In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df=pd.read_csv("Data1.csv")
X=df.iloc[:,:-1].values
Y=df.iloc[:,-1].values

In [4]:
df.head()

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=1)

In [7]:
from sklearn.tree import DecisionTreeRegressor

In [8]:
dt=DecisionTreeRegressor(random_state=1)

In [9]:
dt.fit(X_train,Y_train)

DecisionTreeRegressor(random_state=1)

In [11]:
Y_test_pred=dt.predict(X_test)

In [13]:
from sklearn.metrics import r2_score

In [14]:
r2_score(Y_test,Y_test_pred)

0.9314913712563007