In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("Data1.csv")

In [4]:
df.isnull().sum()

AT    0
V     0
AP    0
RH    0
PE    0
dtype: int64

In [5]:
df.head()

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

In [6]:
X=df.iloc[:,:-1].values
Y=df.iloc[:,-1].values

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=1)

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
lr=LinearRegression()

In [10]:
lr.fit(X,Y)

LinearRegression()

In [16]:
y_test_pred=lr.predict(X_test)

In [17]:
y_test_pred

array([457.19998264, 466.64604114, 440.34091589, ..., 476.45331696,
       424.5216503 , 463.9395338 ])

In [18]:
df1=Y_test.copy()

In [19]:
df1

array([458.96, 463.29, 435.27, ..., 476.22, 440.29, 467.92])

In [21]:
y_test_pred=y_test_pred.reshape(len(y_test_pred),1)

In [24]:
df2=y_test_pred.copy()

In [29]:
from sklearn.metrics import r2_score

In [30]:
r2_score(Y_test,y_test_pred)

0.9323012536224008